#data{
  background-color: #ddd;
  margin: 30px; 
  padding: 30px;
}
#weather{
  font-size:20px;
}
.weatherData{
  color:#2f4f4f;
  font-weight:bold;
}
h2{
  background-color:#006400;
  padding:15px;
  margin-top:0px;
  color:#FFF;
}
#todayData{
  background-color:#FFF;
  padding:20px;
}